html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}


img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
}

.index-links {
  margin-bottom: 50px;
}

.links {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 49px;
  padding-right: 49px;
}

.links:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.paragraph {
  width: 872px;
  margin-top: 0;
  margin-bottom: 40px;
}

.title2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.title3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.desc {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.result {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 0px;
}

.list {
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0;
}

.list-content {
  display: block;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
}

.list-content:last-child {
  margin-bottom: 0px;
}

.img {
  margin-bottom: 40px;
}

.img-figure {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 0;
  margin-left: 0;
  width: 872px;
}

.content-paragraph {
  width: 692px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
